name: brew test-bot
on:
  push:
    branches:
      - main
  pull_request:

env:
  HOMEBREW_NO_INSTALL_FROM_API: 1
  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test-bot:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Cache Homebrew Bundler RubyGems
        uses: actions/cache@v4
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      # query whether all dependencies are bottled
      - run: brew unbottled Macaulay2

      - run: brew test-bot --only-cleanup-before

      - run: brew test-bot --only-setup

      - run: brew test-bot --only-tap-syntax

      - run: brew test-bot --only-formulae --verbose --root-url=https://ghcr.io/v2/macaulay2/tap
        if: github.event_name == 'pull_request'

      - name: Upload bottles as artifact
        if: always() && github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: bottles_${{ matrix.os }}
          path: '*.bottle.*'
          if-no-files-found: error

      - name: Upload logs as artifact
        if: failure() && github.event_name == 'pull_request'
        uses: actions/upload-artifact@main
        with:
          name: logs (${{ matrix.os }})
          path: |
            /home/runner/.cache/Homebrew/Logs/*/*
            /Users/runner/Library/Logs/Homebrew/*/*
            /tmp/macaulay2-*/*/M2/BUILD/build-brew/build.ninja
            /tmp/macaulay2-*/*/M2/BUILD/build-brew/CMakeCache.txt
            /tmp/macaulay2-*/*/M2/BUILD/build-brew/CMakeFiles/CMakeConfigureLog.yaml
            /tmp/macaulay2-*/*/M2/BUILD/build-brew/usr-dist/common/share/doc/Macaulay2/*/example-output/*.errors
            /tmp/M2-*/*.tmp
            /tmp/M2-*/*.m2
